.home {
  width: 100%;

  &--infos {

    nb-card {
      height: 5rem;

      nb-card-body {
        display: flex;
        align-items: center;
        justify-content: center;

        button {
          min-width: 12rem;
        }
      }

      nb-form-field {
        width: 100%;

        input {
          width: 95%;
        }

        button {
          width: 15rem;
        }
      }
    }
  }
}
