.home {


  &--infos {

    nb-card {
      height: 5rem;

      nb-card-body {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      nb-form-field {
        width: 100%;

        input {
          width: 90%;
        }

        button {
          width: 15rem;
        }
      }
    }

  }

  &--cars {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

  }
}
