<div class="home">
  <div class="home--infos">
    <nb-card>
      <nb-card-body>
        <nb-form-field>
          <nb-icon nbPrefix icon="search-outline" pack="eva"></nb-icon>
          <input type="text" nbInput fullWidth placeholder="Busca por marca, modelo ou ano...">
        </nb-form-field>
        <button nbButton status="primary" (click)="openOnDev()">Novo veículo</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="home--cars">
    <app-card-car></app-card-car>
    <app-card-car></app-card-car>

    <app-card-car></app-card-car>

    <app-card-car></app-card-car>

    <app-card-car></app-card-car>

  </div>
</div>
