<div class="car">
  <nb-card>
    <nb-card-header>
      <span>Land rover Range rover sport</span>
    </nb-card-header>
    <nb-card-body>
      <img src="assets/img/carro.png">

      <div class="car--infos">
        <div class="car--infos--description">
          <span>3.0 HSE 4X4 V6 24V Turbo Diesel 4P Automático</span>
        </div>
        <div class="car--infos--value">
          <span>R$ 300.000,00</span>
        </div>

        <div class="car--infos--parcel">
          <span>60x R$ 5.000,00</span>
        </div>

        <div>
          <div class="car--infos--year">
            <span>2018</span>
          </div>

          <div class="car--infos--km">
            <span>0 km</span>
          </div>
        </div>

      </div>
    </nb-card-body>
    <nb-card-footer>
      <nb-icon nbPrefix icon="pin-outline" pack="eva"></nb-icon>
      <span>Brasil</span>
    </nb-card-footer>
  </nb-card>
</div>
