<div class="car">
  <nb-card *ngFor="let car of cars">
    <nb-card-header>
      <span>{{car.brand}} - {{car.nome_modelo}}</span>
    </nb-card-header>
    <nb-card-body>
      <img [src]="car.image">

      <div class="car--infos">
        <div class="car--infos--description">
          <span>{{car.combustivel}}, {{car.num_portas}}P {{car.cor}} - {{car.ano}}</span>
        </div>
        <div class="car--infos--value">
          <span>{{car.valor | currency: 'BRL'}}</span>
        </div>

        <div class="car--infos--parcel">
          <span>60x {{car.valor / 60 | currency: 'BRL'}} - (aprox.)</span>
        </div>

        <div>
          <div class="car--infos--year">
            <span>Ano - {{car.ano}}</span>
          </div>

          <div class="car--infos--km">
            <span>{{car.km}} km</span>
          </div>
        </div>

      </div>
    </nb-card-body>
    <nb-card-footer>
      <nb-icon nbPrefix icon="pin-outline" pack="eva"></nb-icon>
      <span>Brasil</span>
    </nb-card-footer>
  </nb-card>
</div>
