.car {
  nb-card {
    width: 16rem;
    height: 100%;
    border-radius: 1rem;

    nb-card-body {
      padding: 0.5rem;
    }

    nb-card-footer {
      padding: 1rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      nb-icon {
        margin-right: 0.5rem;
      }
    }

    img {
      width: 100%;
      border-radius: 1rem;
    }
  }

  &--infos {
    padding: 0.5rem;
  }
}
