@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/default';


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/raleway/Raleway-Light.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/fonts/raleway/Raleway-Medium.ttf');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/raleway/Raleway-SemiBold.ttf');
}

$nb-themes: nb-register-theme((

  // add your variables here like:

  // color-primary-100: #f2f6ff,
  // color-primary-200: #d9e4ff,
  // color-primary-300: #a6c1ff,
  // color-primary-400: #598bff,
  // color-primary-500: #3366ff,
  // color-primary-600: #274bdb,
  // color-primary-700: #1a34b8,
  // color-primary-800: #102694,
  // color-primary-900: #091c7a,

        font-family: 'Raleway',

), default, default);

* {
  font-family: 'Raleway', sans-serif !important;
}
